<footer class="flex flex-col gap-1 justify-center items-center w-full lg:flex-row text-sm">
	<span class="text-white">Created by <a class="text-sky-500" href="https://diegocornejo.com" target="_blank" data-umami-event="footer-link-diego">Diego Cornejo</a></span>
	<span class="text-white">based on work of <a class="text-sky-500" href="https://lorawan-packet-decoder-0ta6puiniaut.runkit.sh" target="_blank" data-umami-event="footer-link-arjan">Arjan</a></span>
	<span class="text-white">powered by <a class="text-sky-500" href="https://github.com/anthonykirby/lora-packet" target="_blank" data-umami-event="footer-link-anthony">Anthony Kirby's lora-packet</a></span>
</footer>
