---
const title = 'Packet Decoder';
---

<div class="flex gap-4">
	<img src="/lora_logo.png" alt="Lora Logo">
	<h1 class="text-2xl text-white">{title}</h1>
</div>
<style>
	img {
		width: 48px;
		filter: drop-shadow(0 0 0.5rem #fff)
	}
</style>
