---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GithubCorner from '../components/GithubCorner.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Lora Packet Decoder' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/lora_logo.png' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<script async src="https://analytics.diegocornejo.com/script.js" data-website-id="e5a4cbcd-7543-4a25-8b8a-c59e03a08df6"></script>
	</head>
	<body class='flex flex-col justify-between min-h-screen p-4'>
		<Header />
		<slot class='flex-grow' />
		<GithubCorner />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Geist', system-ui, sans-serif;
		background: #13151a;
		/* padding: 1rem; */
		/* background-size: 224px; */
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	@font-face {
		font-family: 'Geist';
		src: url('/fonts/geist/Geist-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
